*.mat
*.pyc
*.csv
*.mypy_cache
AI/Analysis/node_modules/
AI/Analysis/data/blender_poses/
AI/Analysis/data/Confution/
AI/Analysis/data/DataScienceBowl/
AI/Analysis/data/img/
AI/Analysis/data/linemod/
AI/Analysis/data/model/
AI/Analysis/data/NestedUNetResults/
AI/Analysis/data/OcclusionChallengeICCV2015/
AI/Analysis/data/OpenImage/
AI/Analysis/data/PASCAL_VOC_3D/
AI/Analysis/data/PVNet_linemod/
AI/Analysis/data/record/
AI/Analysis/data/SUN2012pascalformat/
AI/Analysis/data/test/
AI/Analysis/data/2020-10-21_動作後.zip
AI/Analysis/data/bg_img_pths.npy
AI/Analysis/data/data_object_image_2.zip
AI/Analysis/NestedUNet/models/
AI/Analysis/NestedUNet/log/
AI/Analysis/src/utils/extend_utils/
AI/Analysis/src/utils/spconv/
AI/Analysis/src/utils/temp/
AI/Analysis/temp
Dobot/node_modules
AI/Analysis/Blender/blender-2.92.0-linux64.tar.xz
